<nav class="navbar navbar-expand-lg fixed-top navbar-white bg-white shadow-sm" [class.scrolled]="scrolled">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="data:image/svg+xml;utf8,..."
        alt="Logo"
        width="230"
        height="50"
        class="d-inline-block align-text-top"
      />
    </a>
    
    <button class="navbar-toggler" type="button" (click)="isMenuCollapsed = !isMenuCollapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [class.show]="!isMenuCollapsed" id="navbarContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item" *ngIf="planUsuario">
          <a [routerLink]="planUsuario" class="nav-link" matTooltip="Ver detalles de tu plan">
            Mi Plan
          </a>
        </li>
        
        <li class="nav-item ms-3 d-flex align-items-center">
          <ng-container *ngIf="user; else loginBtn">
            <span class="me-2 text-muted small">
              {{ user.displayName || (user.email ? user.email : 'Usuario') }}
            </span>
            <button class="btn btn-outline-danger btn-sm" 
                    (click)="logout()"
                    [disabled]="isLoggingOut">
              <span *ngIf="!isLoggingOut">Salir</span>
              <span *ngIf="isLoggingOut" class="spinner-border spinner-border-sm"></span>
            </button>
          </ng-container>
          
          <ng-template #loginBtn>
            <button class="btn btn-outline-primary btn-sm" 
                    (click)="login()"
                    [disabled]="isLogging">
              <span *ngIf="!isLogging">Login con Google</span>
              <span *ngIf="isLogging" class="spinner-border spinner-border-sm"></span>
            </button>
          </ng-template>
        </li>
      </ul>
    </div>
  </div>
</nav>