/* dashboard-pagos.component.css */
.container {
  .btn {
    width: 100%;
    transition: all 0.3s ease;
    
    &:hover {
      transform: translateY(-2px);
      box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }
  }
}
.grafico-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  padding: 20px;
}

.grafico-pastel {
  flex: 0 0 300px;
  max-width: 300px;
  margin-right: 30px;
}

.grafico-descripcion {
  flex: 1;
  min-width: 260px;

  color: #000000;
}

.grafico-descripcion h3 {
  color: #000000;
  margin-bottom: 10px;
}

.grafico-descripcion p {
  margin-bottom: 10px;
  line-height: 1.6;
}
